<br><br><br>
<div *ngIf="formT=='emp'">
  <h1>
    <u><i>Employee Form </i></u>
  </h1>
  <hr width="800" height="800">
  <span><marquee><i><b>Enter the Details of the Employee...</b></i></marquee></span>
  <div ng-app="" ng-init="name='null'">
    <fieldset>
      <table class="table" colspan="20">
        <tr>
          <td>ID </td>
          <td><input [(ngModel)]="id" class="form-control" type="text"></td>
        </tr>
        <tr>
          <td>Name </td>
          <td><input [(ngModel)]="name" class="form-control" type="text"></td>
        </tr>
        <tr>
          <td>Date of Birth </td>
          <td><input [(ngModel)]="dob" class="form-control" type="date"></td>
        </tr>
        <tr>
          <td>Gender </td>
          <td><label>Male<input class="form-control" type="radio" name="gender" value="male"></label> &nbsp;&nbsp;&nbsp;&nbsp;
            <label> Female <input class="form-control" type="radio" name="gender" value="female"></label> </td>
        </tr>
        <tr>
          <td colspan="2" align="center"><input type="button" class="btn btn-primary mr-4" (click)="setStatus()" value="SUBMIT DETAILS"></td>
        </tr>
      </table>
      <br><br><br><br>
    </fieldset>
  </div>
  <table class="table table-striped" cellpadding="10">
      <tr style="color:red;">
        <th>ID</th>
        <th>Name</th>
        <th>Date of Birth</th>
      </tr>
      <tr>
        <th>{{id}}</th>
        <th>{{name}}</th>
        <th>{{dob}}</th>
        <th></th>
      </tr>
    </table>
</div>
<p>
    <!--<app-emp (val)="form($event)"></app-emp>
    <app-display [disp]="data"></app-display>-->
</p>

    




